In [6]:
import pandas as pd
import numpy as np

In [8]:
csv = pd.read_csv(r"/Users/harinathbandi/Downloads/Bulbs_Lifespan.csv")
csv

    Lifespan (Hours)
0            1004.84
1             973.09
2            1012.38
3            1056.15
4             968.29
5             968.29
6            1058.96
7            1018.37
8             956.53
9            1007.13
10            956.83
11            956.71
12            992.10
13            884.34
14            893.75
15            951.89
16            929.36
17            995.71
18            934.60
19            909.38
20           1053.28
21            968.71
22            983.38
23            908.76
24            952.78
25            985.55
26            922.45
27            998.78
28            949.97
29            965.42
30            949.91
31           1072.61
32            979.33
33            927.11
34           1021.13
35            918.96
36            990.44
37            882.02
38            913.59
39            989.84

In [11]:
mean = csv['Lifespan (Hours)'].mean()
std_dev = csv['Lifespan (Hours)'].std()
print( mean, std_dev)

969.068 47.640061368343

In [12]:
#given data
#mu = 1000, sigma = 50, x_bar = 969, s = 47.6, n = 40
n = 40
z_cal = (1000 - 969) / ( 50 / np.sqrt(n))
z_cal

np.float64(3.9212242986087906)

In [18]:
from statsmodels.stats.weightstats import ztest
test,pvalue = ztest(csv["Lifespan (Hours)"],value = 1000, alternative = 'smaller')
print(test, pvalue)

-4.106441921979856 2.0090021400500498e-05

In [27]:
from statsmodels.stats.weightstats import ztest
test,pvalue = ztest(csv['Lifespan (Hours)'], value = 1000, alternative = 'smaller')
print(test, pvalue)

-4.106441921979856 2.0090021400500498e-05