In [16]:
import pandas as pd

In [2]:
df = pd.read_csv(r'/Users/harinathbandi/Downloads/ecommerce_two_sample_ztest_dataset.csv')

In [3]:
df

     Customer_ID             Group  Purchase_Value
0              1   Email Marketing       87.450712
1              2   Email Marketing       77.926035
2              3   Email Marketing       89.715328
3              4   Email Marketing      102.845448
4              5   Email Marketing       76.487699
..           ...               ...             ...
265          266  Social Media Ads       50.044336
266          267  Social Media Ads      107.648226
267          268  Social Media Ads       46.397172
268          269  Social Media Ads       66.199110
269          270  Social Media Ads       77.614812

[270 rows x 3 columns]

In [4]:
df.shape

(270, 3)

In [6]:
df.head()

   Customer_ID            Group  Purchase_Value
0            1  Email Marketing       87.450712
1            2  Email Marketing       77.926035
2            3  Email Marketing       89.715328
3            4  Email Marketing      102.845448
4            5  Email Marketing       76.487699

In [7]:
df['Group'].value_counts()

Group
Social Media Ads    150
Email Marketing     120
Name: count, dtype: int64

In [14]:
d1 = df['Purchase_Value'][df['Group'] == 'Email Marketing']
d2 = df['Purchase_Value'][df['Group'] == 'Social Media Ads']

In [33]:
from statsmodels.stats.weightstats import ztest
test ,pvalue= ztest(d1,d2,alternative='two-sided')

In [34]:
print(test)
print(pvalue)

1.4424788254616185
0.1491673408342986